
<section class="grid-proyectos" id="proyectos">

    <div class="proyecto" data-tipo="residencial" data-ano="2025" data-servicio="diseño">
        <h3>Plaza Comercial</h3>
        <p>Ubicación: Honduras </p>
        <p>Año: 2025</p>
        <div class="galeria">
            <img src="../assets/img/serrano.jpg" alt="Plaza Serrano">
            <img src="../assets/img/Serrano3.jpg" alt="Plaza Serrano">
        </div>
    </div>

    <div class="proyecto" data-tipo="comercial" data-ano="2024" data-servicio="construcción">
        <h3>Complejo Turistico Colonial</h3>
        
        <p>Ubicación: San Pedro Sula</p>
        <p>Año: 2024</p>
        <div class="galeria">
            <img src="../assets/img/Complejo Turistico Colonial1.png" alt="Complejo Turistico colonial">
            <img src="../assets/img/Complejo Turistico Colonial2.png" alt="Complejo Turistico colonial">
        </div>
    </div>

    <div class="proyecto" data-tipo="institucional" data-ano="2023" data-servicio="remodelación">
        <h3>Complejo Habitacional lapidario</h3>
        
        <p>Ubicación: La Ceiba</p>
        <p>Año: 2023</p>
        <div class="galeria">
            <img src="../assets/img/Complejo Habitacional Lipidario2.png" alt="Complejo Habitacional">
            <img src="../assets/img/Complejo Habitacional Lipidario1.png" alt="Complejo Habitacional">
        </div>
    </div>

    <div class="proyecto" data-tipo="residencial" data-ano="2022" data-servicio="interiorismo">
        <h3>La Pizza Nostra</h3>
        <p>Ubicación: Tegucigalpa</p>
        <p>Año: 2022</p>
        <div class="galeria">
            <img src="../assets/img/Pizza Nostra1.png" alt="centro comercial">
            <img src="../assets/img/Pizza Nostra2.png" alt="centro comercial">
        </div>
    </div>

    <div class="proyecto" data-tipo="industrial" data-ano="2021" data-servicio="planificación">
        <h3>Urbanizacion Rubra</h3>
        
        <p>Ubicación: Choluteca</p>
        <p>Año: 2021</p>
        <div class="galeria">
            <img src="../assets/img/Cabañas The Rubra1.png" alt="urbanizacion Rubra">
            <img src="../assets/img/Cabañas The Rubra3.png" alt="urbanizacion Rubra">
        </div>
    </div>

    <div class="proyecto" data-tipo="comercial" data-ano="2020" data-servicio="construcción">
        <h3>Vivienda Modular</h3>
        
        <p>Ubicación: San Pedro Sula</p>
        <p>Año: 2020</p>
        <div class="galeria">
            <img src="../assets/img/ViviendaModular1.jpg" alt="ViviendaModular">
            <img src="../assets/img/ViviendaModular2.jpg" alt="ViviendaModular">
        </div>
    </div>

    <div class="proyecto" data-tipo="residencial" data-ano="2025" data-servicio="remodelación">
        <h3>Tecnicentro</h3>

        <p>Ubicación: Choloma </p>
        <p>Año: 2025</p>
        <div class="galeria">
            <img src="../assets/img/Tecnicentro3.jpg" alt="Tecnicentro">
            <img src="../assets/img/Tecnicentro2.jpg" alt="Tecnicentro">
        </div>
    </div>

    <div class="proyecto" data-tipo="institucional" data-ano="2024" data-servicio="planificación">
        <h3>bodegas</h3>
        
        <p>Ubicación: Tegucigalpa</p>
        <p>Año: 2024</p>
        <div class="galeria">
            <img src="../assets/img/bode1.jpg" alt="Bodejas">
            <img src="../assets/img/bode2.jpg" alt="Bodejas">
        </div>
    </div>

    <div class="proyecto" data-tipo="comercial" data-ano="2023" data-servicio="interiorismo">
        <h3>Casas Modernas </h3>
        
        <p>Ubicación: San Pedro Sula</p>
        <p>Año: 2023</p>
        <div class="galeria">
            <img src="../assets/img/ViviendaSanJeronimo5.jpg" alt="Vivienda modernas ">
            <img src="../assets/img/ViviendaModular2.jpg" alt="Vivienda modernas ">
        </div>
    </div>

    <div class="proyecto" data-tipo="industrial" data-ano="2022" data-servicio="construcción">
        <h3>Indutria </h3>
        
        <p>Ubicación: Choluteca</p>
        <p>Año: 2025</p>
        <div class="galeria">
            <img src="../assets/img/PLANTEL1.jpg" alt="Fábrica 1">
            <img src="../assets/img/PLANTEL2.jpg" alt="Fábrica 2">
        </div>
    </div>

</section>
